header {
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 55px;
}

header .tab_list {
  display: flex;
  flex: 1;
  gap: 15px;
  align-items: flex-end;
}

header .tab {
  padding: 0px 5px 4px 5px;
  border-bottom: 4px solid transparent;
  display: inline-flex;
  align-items: center;
}

header .tab:hover {
  cursor: pointer;
}

header span {
  font-size: 18px;
  font-weight: 600;
  /* line-height: 21px; */
  color: #707a8a;
  text-align: center;
  display: inline-flex;
  align-items: center; /* 중앙 정렬 */
}

header .active {
  border-bottom: 4px solid #26a950;
}

header .active span {
  color: #333333;
}
